
@{
    ViewData["Title"] = "Index";
}

<div class="row">
    <div class="col-lg-12">
        <div class="heading-section mb-5 mt-5 mt-lg-0">
            <h2 class="mb-3">Resumen</h2>
            <p>
                Profesional con de 7 años de Experiencia en el Área de Tecnología, desarrollándome como Jefe
                de Tecnología, Líder de proyectos, Consultor, Analista de arquitectura e integración y
                Analista de Negocios. Proactiva con capacidad de dirigir equipos, generar soluciones a las
                necesidades de clientes y áreas operativas, dirigir proyectos, estimar, proyectar y
                gestionar recursos tecnológicos, ejecución de proyectos con metodología cascada (PMI) y
                marco de trabajo ágil (Scrum), crear arquitecturas y desarrollos, orientar esfuerzos de
                equipos a resultados y generar soluciones acopladas a las necesidades de clientes y áreas
                operativas bancarias y comerciales.
            </p>
        </div>
        <div id="accordion" class="myaccordion w-100" aria-multiselectable="true">
            <div class="card">
                <div class="card-header p-0" id="headingOne">
                    <h2 class="mb-0">
                        <button href="#collapseOne"
                                class="d-flex py-3 px-4 align-items-center justify-content-between btn btn-link"
                                data-parent="#accordion" data-toggle="collapse" aria-expanded="true"
                                aria-controls="collapseOne">
                            <p class="mb-0">Datos Personales</p>
                            <i class="fa" aria-hidden="true"></i>
                        </button>
                    </h2>
                </div>
                <div class="collapse show" id="collapseOne" role="tabpanel" aria-labelledby="headingOne">
                    <div class="card-body py-3 px-0">
                        <ul>
                            <li>Teléfono Móvil: 7550-5108</li>
                            <li>Teléfono Fijo: 2333-9050</li>
                            <li>Email: luz.rivas@outlook.es</li>
                            <li>Disponibilidad para viajar.</li>
                            <li>Pasaporte vigente.</li>
                            <li>Licencia de conducir.</li>
                            <li>Vehículo propio.</li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="card">
                <div class="card-header p-0" id="headingTwo" role="tab">
                    <h2 class="mb-0">
                        <button href="#collapseTwo"
                                class="d-flex py-3 px-4 align-items-center justify-content-between btn btn-link"
                                data-parent="#accordion" data-toggle="collapse" aria-expanded="false"
                                aria-controls="collapseTwo">
                            <p class="mb-0">Formación Académica</p>
                            <i class="fa" aria-hidden="true"></i>
                        </button>
                    </h2>
                </div>
                <div class="collapse" id="collapseTwo" role="tabpanel" aria-labelledby="headingTwo">
                    <div class="card-body py-3 px-0">
                        <ul>
                            <li>
                                Maestría en Dirección Estratégica de Ingeniería de Software. Universidad
                                Iberoamericana de México. 2017- 2019
                            </li>
                            <li>
                                Ingeniería de Sistemas Informáticos. Universidad de El Salvador. 2010-2015
                            </li>
                            <li>Certificación ECM OnBase- System Administrator. Universidad Hyland/ 2017
                            <li>
                                Certificación ECM OnBase- Workflow Administrator. Universidad Hyland/ 2017
                            </li>
                            <li>Universidad Hyland/ 2017</li>
                            <li>Change Management Best Practices. Banco Citi / 2016</li>
                            <li>Software Security Awareness - Secure Coding Pract. Banco Citi / 2016</li>
                            <li>Continuity of Business - Best Practices. Banco Citi / 2016</li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="card">
                <div class="card-header p-0" id="headingThree" role="tab">
                    <h2 class="mb-0">
                        <button href="#collapseThree"
                                class="d-flex py-3 px-4 align-items-center justify-content-between btn btn-link"
                                data-parent="#accordion" data-toggle="collapse" aria-expanded="false"
                                aria-controls="collapseThree">
                            <p class="mb-0">Experiencia</p>
                            <i class="fa" aria-hidden="true"></i>
                        </button>
                    </h2>
                </div>
                <div class="collapse" id="collapseThree" role="tabpanel" aria-labelledby="headingTwo">
                    <div class="card-body py-3 px-0">
                        <ul>
                            <li>
                                Analista de Arquitectura e Integración - Banco Cuscatlán. 02/2018- Actual
                            </li>
                            <li>
                                Consultor de Soluciones Empresariales de Gestión de la Información -
                                Services Integration Center. 09/2018- 12/2020
                            </li>
                            <li>
                                Jefe de Tecnología de Integración ERP - Atlántica Seguros. 01/2017- 12/2017
                            </li>
                            <li>Analista de Desarrollo de Sistemas - Citibank. 04/2015- 09/2016</li>
                            <li>
                                Jefe de Análisis y Desarrollo de aplicaciones - Deploy SA. 08/2014- 12/2015
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
