@model List<MARV.Core.DTO.Usuario.GrupoLikeDto>
@{
    ViewData["Title"] = "Home";
    int cont = 0;
}

<div class="row">
    
    @foreach (var item in Model)
    {
        string rejilla = cont < 2 ? "6" : "4";
        string thumbnailUrl = $"{ item.Detalle.Thumbnail.Path }/portrait_incredible.{ item.Detalle.Thumbnail.Extension }";
        cont++;
        <div class="col-md-@rejilla ftco-animate">
            <div class="block-7">
                <div class="img" style="background-image: url('@thumbnailUrl');"></div>
                <div class="text-center  p-5">
                    <span class="excerpt ">@item.Detalle.Name | </span>
                    <span class="fa fa-heart" style="color: red;"></span>
                    <span class="excerpt ">@item.Cantidad</span>
                </div>
            </div>
        </div>
    }
    
</div>